global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: [ "mm.prometheus:9090" ]

  - job_name: "webapi"
    static_configs:
      - targets: [ "mm.host:5001" ]

  - job_name: "postgres"
    static_configs:
      - targets: [ "mm.postgres-exporter:9187" ]

  # - job_name: "otel-collector" -> Currently not working
  #   static_configs:
  #     - targets: ["mm.otel-collector:8889"]

  # - job_name: "mm.cadvisor"
  #   static_configs:
  #     - targets: ["mm.cadvisor:8080"]

  # - job_name: "node"
  #   static_configs:
  #     - targets: ["mm.node-exporter:9100"]
